@model Auction.Web.ViewsModels.CreateAuctionViewModels

<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">Create Auction</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form id="createForm" method="post" action="Auctions/Create/">
    <div class="modal-body">
        <div class="form-group mb-3">
            <label for="exampleInputEmail1">Title</label>
            <input type="text" name="Title" class="form-control" placeholder="Title" value="@Model.Title" @*required minlength="12" maxlength="100" aria-invalid="true"*@>@*
                <label id="Title-error" class="error" for="Title" >Please enter at least 12 characters</label>*@
        </div>


        <div class="form-group mb-3">
            <label for="exampleInputEmail1">Category</label>
            <select class="form-control" name="CategoryID">
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.ID">@category.Name</option>
                }
            </select>
        </div>

        <div class="form-group mb-3">
            <label for="exampleInputEmail1">Description</label>
            <input type="text" class="form-control" name="Description" placeholder="Description" value="@Model.Description">
        </div>

        <div class="form-group mb-3">
            <label for="exampleInputEmail1">ActualAmount</label>
            <input type="text" name="ActualAmount" class="form-control" placeholder="ActualAmount" value="@Model.ActualAmount">
        </div>

        <div class="form-group mb-3">
            <label for="exampleInputEmail1">Starting Time</label>
            <input type="datetime-local" name="StartingTime" class="form-control" placeholder="Starting Time" value="@Model.StartingTime">
        </div>

        <div class="form-group mb-3">
            <label for="exampleInputEmail1">Ending Time</label>
            <input type="datetime-local" name="EndingTime" class="form-control" placeholder="Ending Time" value="@Model.EndingTime">
        </div>

        <div class="form-group mb-3">
            <label for="exampleInputFile">Upload Image</label>
            <input type="file" name="AuctionPictures" id="auctionPictures" multiple>
            <div id="picturesArea"></div>
            <input type="hidden" name="AuctionPictures" id="pictureIDs" />
        </div>
        <div id="formError" class="form-group bg-danger" style="display: none">

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" id="saveButton">Save</button>
    </div>
</form>

<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>



    <script>
    $("#createForm").validate({
        rules: {
            Title: {
                required: true,
                minlength: 4,
                maxlength: 150
            }
        },
        message: {
            Title: {
                required: "Title is required",
                minlength: "Minimum Length is 4",
                maxlength: "Maximum Length is 150"
            }
        }
    });

    $("#saveButton").click(function () {
        if ($("#createForm").valid()) {
            var imageIDs = [];

            $("#picturesArea .image").each(function () {
                var imageID = $(this).attr("data-id");

                imageIDs.push(imageID);
            });

            $("#pictureIDs").val(imageIDs.join());

            $.ajax({
                url: "@Url.Action("Create", "Auctions")",
                type: "post",
                data: $("#createForm").serialize()
            }).done(function (response) {

                if (response.Success) {
                    ReloadListing();
                    $('#formModal').modal('toggle');
                }
                else {
                    $('#formModal').modal('toggle');
                    $("#formError").html(response.Error);
                    $("#formError").show();
                }
            });
        }

    });

    $("#auctionPictures").change(function () {

        var pictures = this.files;
        var picsData = new FormData();

        for (var i = 0; i < pictures.length; i++) {
            picsData.append("Picture", pictures[i]);
        }

        $.ajax({
            url: "@Url.Action("UploadPictures", "Shared")",
            type: "post",
            data: picsData,
            dataType: "json",
            processData: false,
            contentType: false
        }).done(function (responses) {
            for (var i = 0; i < responses.length; i++) {
                var picResponse = responses[i];

                AttachNewImage(picResponse.pictureURL, picResponse.ID);
            }

           });
    });
    </script>



