@model Auction.Web.ViewsModels.CreateAuctionViewModels

<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">Edit Auction</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form id="editForm" method="post">
    <div class="modal-body">
        <input type="hidden" name="ID" value="@Model.ID" />
        <div class="form-group mb-3">
            <label for="exampleInputEmail1">Title</label>
            <input type="text" name="Title" value="@Model.Title" class="form-control" id="exampleInputEmail1" placeholder="Title">
        </div>

        <div class="form-group mb-3">
            <label for="exampleInputEmail1">Category</label>
            <select class="form-control" name="CategoryID">
                @foreach (var category in Model.Categories)
                {
                    var selected = category.ID == Model.CategoryID ? "selected" : string.Empty;

                    <option value="@category.ID" @selected>@category.Name</option>
                }
            </select>
        </div>

        <div class="form-group mb-3">
            <label for="exampleInputEmail1">Description</label>
            <input type="text" class="form-control" value="@Model.Description" name="Description" id="exampleInputEmail1" placeholder="Description">
        </div>

        <div class="form-group mb-3">
            <label for="exampleInputEmail1">ActualAmount</label>
            <input type="text" name="ActualAmount" value="@Model.ActualAmount" class="form-control" id="exampleInputEmail1" placeholder="ActualAmount">
        </div>

        <div class="form-group mb-3">
            <label for="exampleInputEmail1">Starting Time</label>
            <input type="text" name="StartingTime" value="@Model.StartingTime" class="form-control" id="exampleInputEmail1" placeholder="Starting Time">
        </div>

        <div class="form-group mb-3">
            <label for="exampleInputEmail1">Ending Time</label>
            <input type="text" name="EndingTime" value="@Model.EndingTime" class="form-control" id="exampleInputEmail1" placeholder="Ending Time">
        </div>

        <div class="form-group mb-3">
            <label for="exampleInputFile">Upload Image</label>
            <input type="file" name="AuctionPictures" id="auctionPictures" multiple>
            <div id="picturesArea">
                @if (Model.AuctionPicturesList != null && Model.AuctionPicturesList.Count > 0)
                {
                    foreach (var picture in Model.AuctionPicturesList)
                    {
                        <img src='/Content/images/@picture.Picture.URL' data-id="@picture.ID" class="image img-rounded" style="width: 180px; height: 180px; object-fit: cover;" />
                    }
                }
            </div>
            <input type="hidden" name="AuctionPictures" id="pictureIDs" />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" id="saveButton">Save</button>
    </div>
</form>

<script>
    RemoveImagesOnClick();

    $("#saveButton").click(function () {
        var imageIDs = [];

        $("#picturesArea .image").each(function () {
            var imageID = $(this).attr("data-id");

            imageIDs.push(imageID);
        });

        $("#pictureIDs").val(imageIDs.join());

        $.ajax({
            url: "@Url.Action("Edit", "Auctions")",
            type: "post",
            data: $("#editForm").serialize()
        }).done(function (response) {
            $('#formModal').modal('toggle');
            $("#listingArea").html(response);
            
        });
    });

    $("#auctionPictures").change(function () {

        var pictures = this.files;
        var picsData = new FormData();

        for (var i = 0; i < pictures.length; i++) {
            picsData.append("Picture", pictures[i]);
        }

        $.ajax({
            url: "@Url.Action("UploadPictures", "Shared")",
            type: "post",
            data: picsData,
            dataType: "json",
            processData: false,
            contentType: false
        }).done(function (responses) {
                for (var i = 0; i < responses.length; i++) {
                    var picResponse = responses[i];

                    AttachNewImage(picResponse.pictureURL, picResponse.ID);
                }

            });
    });



</script>