@model Auction.Web.ViewsModels.CategoryDetailsViewModels

<div class="row">

    <div class="col-md-12">

        <div class="thumbnail">
            <div class="caption-full">
                <h4>
                    <a href="#">@Model.Category.Name</a>
                </h4>
                <p>@Model.Category.Description</p>
            </div>
            <div class="ratings">
                <p class="pull-right">3 reviews</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    4.0 stars
                </p>
            </div>
        </div>

        <div class="well">

            <div class="text-right">
                <a class="btn btn-success">Leave a Review</a>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-12">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    Anonymous
                    <span class="pull-right">10 days ago</span>
                    <p>This product was great in terms of quality. I would definitely buy another!</p>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-12">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    Anonymous
                    <span class="pull-right">12 days ago</span>
                    <p>I've alredy ordered another one!</p>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-12">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    Anonymous
                    <span class="pull-right">15 days ago</span>
                    <p>I've seen some better than this, but not at this price. I definitely recommend this item.</p>
                </div>
            </div>

        </div>

    </div>

</div>


<!-- Product section-->
<!--<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder">@Model.Auction.Title</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">@Model.Auction.ActualAmount</span>
                    <span>@Model.Auction.ActualAmount</span>
                </div>
                <p class="lead">@Model.Auction.Description</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="number" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!-- Related items section-->
<!--<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">-->
<!-- Product image-->
<!--<img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />-->
<!-- Product details-->
<!--<div class="card-body p-4">
    <div class="text-center">-->
<!-- Product name-->
<!--<h5 class="fw-bolder">Fancy Product</h5>-->
<!-- Product price-->
<!--$40.00 - $80.00
    </div>
</div>-->
<!-- Product actions-->
<!--<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
        </div>
    </div>
</div>
<div class="col mb-5">
    <div class="card h-100">-->
<!-- Sale badge-->
<!--<div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>-->
<!-- Product image-->
<!--<img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />-->
<!-- Product details-->
<!--<div class="card-body p-4">
    <div class="text-center">-->
<!-- Product name-->
<!--<h5 class="fw-bolder">Special Item</h5>-->
<!-- Product reviews-->
<!--<div class="d-flex justify-content-center small text-warning mb-2">
    <div class="bi-star-fill"></div>
    <div class="bi-star-fill"></div>
    <div class="bi-star-fill"></div>
    <div class="bi-star-fill"></div>
    <div class="bi-star-fill"></div>
</div>-->
<!-- Product price-->
<!--<span class="text-muted text-decoration-line-through">$20.00</span>
        $18.00
    </div>
</div>-->
<!-- Product actions-->
<!--<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
        </div>
    </div>
</div>
<div class="col mb-5">
    <div class="card h-100">-->
<!-- Sale badge-->
<!--<div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>-->
<!-- Product image-->
<!--<img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />-->
<!-- Product details-->
<!--<div class="card-body p-4">
    <div class="text-center">-->
<!-- Product name-->
<!--<h5 class="fw-bolder">Sale Item</h5>-->
<!-- Product price-->
<!--<span class="text-muted text-decoration-line-through">$50.00</span>
        $25.00
    </div>
</div>-->
<!-- Product actions-->
<!--<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
        </div>
    </div>
</div>
<div class="col mb-5">
    <div class="card h-100">-->
<!-- Product image-->
<!--<img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />-->
<!-- Product details-->
<!--<div class="card-body p-4">
    <div class="text-center">-->
<!-- Product name-->
<!--<h5 class="fw-bolder">Popular Item</h5>-->
<!-- Product reviews-->
<!--<div class="d-flex justify-content-center small text-warning mb-2">
    <div class="bi-star-fill"></div>
    <div class="bi-star-fill"></div>
    <div class="bi-star-fill"></div>
    <div class="bi-star-fill"></div>
    <div class="bi-star-fill"></div>
</div>-->
<!-- Product price-->
<!--$40.00
    </div>
</div>-->
<!-- Product actions-->
<!--<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
